*{
    box-sizing: border-box;
    margin: 0;
    background-color: rgb(95, 94, 150);
    margin: 10px;
}

:root{
    --col101: rgb(0,0,0);
    --col102: rgb(80,80,80);
    --col103: rgb(161, 161, 161);
    --col104: rgb(240,240,240);
    --border: dashed 4px var(--col102)
    
    

}


#pagerapper{
    display: flex;
    flex-direction: column;
    

}

#row1{
    display: flex;
}

#kiko{
    flex-grow: 5;
    background-color: rgb(43, 101, 226);
    border: solid 4px var(--col101);
    height: 250px;
}

#chiki{
    flex-grow: 3;
    background-color: rgb(108, 18, 234);
    border: solid 4px var(--col101);
    
}

#row2{
    display: flex;
    flex-direction: row;
}

#hiko{
    flex-grow: 3;
    background-color: blueviolet;
    border: solid 4px var(--col101);
    height: 250px;
}

#miko{
  flex-grow: 2;
  background-color: rgb(226, 43, 189);
  border: solid 4px var(--col101);
  height: 250px;
}

#row2a{
  display: flex;
  flex-direction: column;
}

#shiko{
  flex-grow: 2;
  background-color: rgb(226, 141, 43);
  border: solid 4px var(--col101);
  height: 150px;
}

#row3{
  display: flex;
  flex-direction: column;
}

#yuko{
  flex-grow: 2;
  background-color: rgb(196, 26, 230);
  border: solid 4px var(--col101);
  height: 250px;
}

#row3a{
  display: flex;
  flex-direction: row;
}

#suko{
  flex-grow: 3;
  background-color: rgb(205, 74, 198);
  border: solid 4px var(--col101);
  height: 150px;
}

#jiko{
  flex-grow: 2;
  background-color: rgb(204, 57, 91);
  border: solid 4px var(--col101);
  height: 150px;
}



#example-one{
    background-color: rgb(43, 101, 226);
    border: solid 4px var(--col101);
    display: flex;
    margin: 10%;
    height: 150px;
    width: 40%;
    flex-grow: 7;
    flex-direction: row;
}
#example-two{
    background-color: rgb(108, 18, 234);
    border: solid 4px var(--col101);
    display: flex;
    margin: 10%;
    flex-grow: 3;
    flex-direction: row;
}

  #example-three{
    background-color: blueviolet;
    border: solid 4px var(--col101);
    margin: 10%;
    flex-grow: 2;
    flex-direction: row;
    
    
  }
  #example-four{
    background-color: rgb(191, 0, 255);
    flex-grow: 2;
    border: solid 4px var(--col101);
    margin: 10%;
    height: 100px;
    width: 19%;
    flex-grow: 3;

    
  }
  #example-five{
    background-color: coral;
    border: solid 4px var(--col101);
    margin: 10%;
    flex-grow: 5;
  }
  #example-six{
    background-color: rgb(237, 100, 159);
    border: solid 4px var(--col101);
    margin: 10%;
  }
  #example-seven{
    background-color:rgba(208, 12, 101, 0.653) ;
    border: solid 4px var(--col101);
    margin: 10%;
  }
  #example-eight{
    background-color: rgba(239, 11, 90, 0.786);
    border: solid 4px var(--col101);
    margin: 10%;
  }